<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>107266881280-r65ru0jhmndfh720ankgg3nfja07fpq9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.107266881280-r65ru0jhmndfh720ankgg3nfja07fpq9</string>
	<key>API_KEY</key>
	<string>AIzaSyCpcSCadSsgRlZAV5yFAGlEul0ilHiEt9k</string>
	<key>GCM_SENDER_ID</key>
	<string>107266881280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uh.edu.biomedlab.SmartParking</string>
	<key>PROJECT_ID</key>
	<string>licenseplaterecognition-9ca13</string>
	<key>STORAGE_BUCKET</key>
	<string>licenseplaterecognition-9ca13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:107266881280:ios:30b39df6d366fab1d5a5e5</string>
	<key>DATABASE_URL</key>
	<string>https://licenseplaterecognition-9ca13-default-rtdb.firebaseio.com</string>
</dict>
</plist>